<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGetizer CI Builds" value="https://ci.appveyor.com/nuget/nugetizer3000" />
    <add key="WinObjC VSO" value="https://winobjc.pkgs.visualstudio.com/_packaging/WinObjC/nuget/v3/index.json" />
    <add key="Local WinObjC Tools Packages" value="C:\Source\WinObjC_Refactor\WinObjC.Build\OutputPackages\Release\" />
    <add key="Local WinObjC Tools Packages - DEBUG" value="C:\Source\WinObjC_Refactor\WinObjC.Build\OutputPackages\Debug\" />
    <add key="Local WinObjC Frameworks Packages" value="C:\Source\WinObjC_Refactor\build\OutputPackages\Release\" />
    <add key="Local WinObjC Frameworks Packages - DEBUG" value="C:\Source\WinObjC_Refactor\build\OutputPackages\Debug\" />
  </packageSources>
</configuration>